* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #b11839;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

.pokebola {
    width: 2.5rem; 
    height: 2.5rem;
    background-image: url('assets/svg/pokebolal.svg'); 
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute; 
    transform: translateY(-10%); 
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    body{
        background-color: #fff;
    }
}